:root{
    --primary-font: Arial;
    --bg-color-primary: radial-gradient(circle,rgba(33, 102, 231, 1) 35%, rgba(26, 81, 184, 1) 100%);
    --bg-color-secundary: red;
    --text-color: white;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--bg-color-primary);
    color: var(--text-color);
    display: grid;
    place-items: center;
    height: 100vh;
    padding: 20px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

    max-width: 80vw;
    width: 100%;

    max-height: 80vh;
    height: 100%;
}

.small-card, .medium-card, .big-card {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.400);
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-size: clamp(12px, 3vw, 22px);

    flex: 1 1 auto;
    max-height: 100%;
}

.small-card {
    height: 100%;
    aspect-ratio: 1 /1;
}

.medium-card {
    min-width: 200px;
    min-height: 120px;
}

.big-card{
    aspect-ratio: 4 / 1;
    justify-content: space-between;
}

img {
    height: 100%;
}

.weather-summary, .daily-forecast, .info-section{
    gap: 10px;
    height: 33%;
}

.weather-summary {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.weather-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.weather-condition {
    font-size: 2rem;
    font-weight: bold;
}

.daily-forecast {
    display: flex;
    overflow-x: auto;
    width: 100%;
    justify-content: space-between;
}

.day-box {
    flex-direction: column;
    text-align: center;
}

.info-section {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* 
.info-box {
    background-color: #90caf9;
    border-radius: 15px;
    padding: 20px;
    min-width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    flex-grow: 1;
} */

